/* ------------------------------------------------------------ *\
    Footer
\* ------------------------------------------------------------ */

.footer { padding: 50px 0; background-color: #fff; }

.footer .footer__container { display: flex; justify-content: space-between; flex-wrap: wrap; }
.footer .footer__head { flex: 0 0 30%; } 
.footer .footer__address { flex: 0 0 30%; text-align: center; }
.footer .footer__nav { flex: 0 0 30%; text-align: right; }
.footer .footer__nav ul { list-style-type: none; }