/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; border-bottom: 2px solid #f5f5f5; z-index: 999; background-color: #fff; }

.header .header__head { float: left; }

.header .header__foot { float: right; padding-top: 35px; }